.intro {
  padding: 200px 0 60px;
  position: relative;
  min-height: 100vh;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    content: "";
    background: linear-gradient(180deg, $primary 10%, transparent);
    z-index: 1;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    &::before {
      position: absolute;
      top: 0;
      right: calc(100% - 5px);
      width: 4000px;
      height: 100%;
      content: "";
      background: linear-gradient(90deg, $primary 20%, rgba($primary, 0.9));
      background: $white;
    }
    &::after {
      position: absolute;
      top: 0;
      left: calc(100% + 50px);
      width: 4000px;
      height: 100%;
      content: "";
      background: linear-gradient(90deg, $primary 20%, rgba($primary, 0.9));
      background: $white;
      z-index: 4;
      display: none;
    }
    &-side {
      position: absolute;
      top: -24px;
      left: 0;
      width: 100%;
      height: calc(100% + 24px);
      max-width: 404px;
      border-top-right-radius: 260px;
      background-color: $white;
      z-index: 2;
      overflow: hidden;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        content: "";
        background: linear-gradient(90deg, rgba($primary, 0.9) 5%, transparent);
      }
      img {
        position: absolute;
        top: 500px;
        left: 10%;
        width: 100%;
        max-width: 280px;
      }
    }
  }
  &__inner {
    padding-left: 400px;
    position: relative;
    z-index: 6;
    &-title {
      max-width: 600px;
      margin: 0 0 145px auto;
    }
    &-article {
      max-width: 600px;
      margin: 0 0 160px auto;
      p {
        max-width: 590px;
      }
    }
    &-footer {
      padding-top: 65px;
      position: relative;
      color: $primary;
      max-width: 600px;
      margin: 0 0 0 auto;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 40px);
        height: 6px;
        background-color: #fbe485;
        content: "";
      }
      span {
        margin: 0 7px;
      }
    }
    &-links {
      padding-top: 20px;
      display: flex;
      align-items: center;
      a {
        font-size: 12px;
      }
    }
    hr {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $primary;
      margin: 0 10px;
    }
    h2 {
      margin-bottom: 75px;
    }
    a {
      color: $primary;
      &:hover {
        opacity: 1;
        color: $black;
      }
    }
  }
}
// 1380px
@mixin intro-xxxlg-xxxxlg {
  .intro {
  }
}
// 1250px
@mixin intro-xlg-xxlg-extra {
  .intro {
  }
}
// 1180px
@mixin intro-xlg-xxlg {
  .intro {
  }
}
// 1024px
@mixin intro-lg-xlg {
  .intro {
  }
}
// 930px
@mixin intro-md-lg {
  .intro {
    padding: 135px 0 50px;
    &::before {
      height: 120px;
    }
    &__bg {
      &-side {
        max-width: 300px;
        border-top-right-radius: 200px;
        img {
          top: 400px;
          max-width: 230px;
          left: 5%;
        }
      }
    }
    &__inner {
      padding-left: 300px;
      &-title {
        margin-bottom: 130px;
      }
      &-article {
        margin-bottom: 80px;
      }
      &-footer {
        padding-top: 40px;
        &::before {
          height: 4px;
        }
      }
      h2 {
        margin-bottom: 50px;
      }
    }
  }
}
// 750px
@mixin intro-sm-md {
  .intro {
    padding: 115px 0 50px;
    &::before {
      height: 200px;
    }
    &__bg {
      &::before {
        display: none;
      }
      &-side {
        background-color: transparent;
        max-width: 140px;
        overflow: visible;
        &::before {
          display: none;
        }
        img {
          width: 150%;
          top: 360px;
          left: -15%;
          max-width: unset;
        }
      }
    }
    &__inner {
      padding-left: 170px;
      &-title {
        margin-bottom: 96px;
        padding-left: 24px;
      }
      &-article {
        margin: 0;
      }
      &-footer {
        display: none;
      }
    }
  }
}
// 650px
@mixin intro-sm-md-extra {
  .intro {
  }
}
// 540px
@mixin intro-xsm-sm {
  .intro {
    padding: 75px 0 50px;
    &::before {
      height: 110px;
    }
    &__bg {
      &-side {
        max-width: 75px;
        img {
          top: 220px;
          width: 170%;
          left: 0;
          transform: translateX(-28%);
        }
      }
    }
    &__inner {
      padding-left: 70px;
      &-title {
        margin-bottom: 68px;
        padding-left: 50px;
        height: 17px;
      }
      h2 {
        margin-bottom: 35px;
      }
    }
  }
}
// 440px
@mixin intro-xxsm-xsm {
  .intro {
  }
}
